<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatisplus.mapper.AdminMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.mybatisplus.model.domain.Admin">
        <id column="id" property="id" />
        <result column="loginName" property="loginName" />
        <result column="password" property="password" />
        <result column="lastLoginTime" property="lastLoginTime" />
        <result column="remark" property="remark" />
    </resultMap>

    <resultMap id="AdminWithRoom" type="com.example.mybatisplus.model.domain.Admin">
        <id column="id" property="id" />
        <result column="loginName" property="loginName" />
        <result column="password" property="password" />
        <result column="lastLoginTime" property="lastLoginTime" />
        <result column="remark" property="remark" />
        <collection property="roomlist" ofType="com.example.mybatisplus.model.domain.Room">
            <id column="roomId" property="id" />
            <result column="name" property="name" />
            <result column="id" property="adminId" />
        </collection>
    </resultMap>

    <insert id="insertByAdmin">
        insert into admin(loginName,password) values
        <foreach collection="admins" item="admin" separator=",">
            (#{admin.loginName},#{admin.password})
        </foreach>
    </insert>
    <delete id="deleteByList">
        delete from admin where id in
            <foreach collection="ids" separator="," item="id" open="(" close=")">
                #{id}
            </foreach>
    </delete>
    <select id="selectByAdmin" resultMap="BaseResultMap">
        select * from admin
        <where>
            <if test="admin.id != null">
                and id=#{admin.id}
            </if>
            <if test="admin.loginName != null and ''">
                and loginName = #{admin.loginName}
            </if>
        </where>
    </select>
    <select id="seleIdWithRoom" resultMap="AdminWithRoom">
        select * from admin
                          LEFT JOIN room On room.admin_id=admin.id
        WHERE admin.id=#{id}
    </select>

</mapper>
